/* make the page width use more of the window */
.wy-nav-content {
       max-width: 1100px;
   }

/* allow wrapping in a table */
.wy-table-responsive table td, .wy-table-responsive table th {
        white-space: normal !important;
    }

/* reduce size of images in the body to 60% width and center*/
.rst-content img {
  max-width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
