/* allow the page to use more of the window width */
.wy-nav-content {
       max-width: 1100px;
   }

/* allow text wrapping in a table to avoid table horizontal scrolling */
.wy-table-responsive table td, .wy-table-responsive table th {
        white-space: normal !important;
    }

/* reduce size of images in the body to 60% width and center*/
.rst-content img {
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* add an underline to title headings */
.rst-content h1,h2,h3,h4,h5 {
    text-decoration: underline;
}

/* add icon on external links 
a.reference.external::after {
    font-family: 'FontAwesome';
    font-size: 80%;
    content: " \f08e";
}
*/
